.text-container {
  /* margin-right: 25vw; */
  width: 65%;
}

.blog-image {
  height: 70vh;
}

@media only screen and (max-width: 960px) {
  .text-container {
    /* margin-right: 0; */
    width: 100%;
  }
  .blog-image {
    height: 55vh;
  }
}

@media only screen and (max-width: 720px) {
  .blog-image {
    height: 40vh;
  }
}
