.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 20;
  animation: backdropFadeIn 200ms ease-out forwards;
}

.modal-backdrop-closing {
  animation: backdropFadeOut 200ms ease-in forwards;
}

.modal {
  position: fixed;
  top: 10vh;
  left: 5%;
  width: 90%;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal-closing {
  animation: slide-up 200ms ease-in forwards;
}

@media only screen and (min-width: 720px) {
  .modal,
  .modal-closing {
    top: 20vh;
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

@keyframes backdropFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes backdropFadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
