blockquote::before {
  content: "\201C";
  display: block;
  color: #b83854;
  font-family: Georgia, serif;
  font-size: 5rem;
  height: 0;
  left: -1.5rem;
  position: relative;
  top: -0.75rem;
  text-align: start;
}

blockquote::after {
  content: "\201D";
  display: block;
  color: #b83854;
  font-family: Georgia, serif;
  font-size: 5rem;
  height: 0;
  right: -1.5rem;
  position: relative;
  /* top: 1.75rem; */
  bottom: -1.68rem;
  text-align: end;
}
