.scroll-to-top-btn {
  z-index: 4;
  position: fixed;
  animation: fadeIn 300ms ease-out;
}

.scroll-to-top-btn-hiding {
  z-index: 4;
  position: fixed;
  animation: fadeOut 200ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(8px);
  }
}
