.zoom-in-out:hover {
  animation: zoom-in-zoom-out 0.5s;
  animation-duration: 500ms;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
