.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 20;
  /* background-color: rgba(0, 0, 0, 0.75); */
}

.modal {
  position: fixed;
  top: 10vh;
  left: 5%;
  width: 90%;
  /* padding: 1rem; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media only screen and (min-width: 720px) {
  .modal {
    top: 20vh;
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
