.fade-in-sun {
  opacity: 0;
  animation-name: fadeInAnimationSun;
  -webkit-animation-name: fadeInAnimationSun;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fade-in-moon {
  opacity: 0;
  animation-name: fadeInAnimationMoon;
  -webkit-animation-name: fadeInAnimationMoon;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInAnimationSun {
  from {
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
  }

  to {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
  }
}

@-webkit-keyframes fadeInAnimationSun {
  from {
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
  }

  to {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
  }
}

@keyframes fadeInAnimationMoon {
  from {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
  }

  to {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
  }
}

@-webkit-keyframes fadeInAnimationMoon {
  from {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
  }

  to {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
  }
}
