.fade-in-sun {
  opacity: 0;
  animation-name: fadeInAnimationSun;
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.fade-in-moon {
  opacity: 0;
  animation-name: fadeInAnimationMoon;
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes fadeInAnimationSun {
  from {
    opacity: 0;
    transform: translateY(20%) rotateZ(180deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
  }
}

@keyframes fadeInAnimationMoon {
  from {
    opacity: 0;
    transform: translateY(20%) rotateZ(180deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
  }
}
